<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="SqlConStr"
			 connectionString="Data Source=DESKTOP-BM0F44D;Initial Catalog=CSDB;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>
